* {
    background-color: rgb(180, 223, 211);
}



img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        border-radius: 3%;
        border-color: rgb(50, 26, 186);

      }

      h3{
        text-align: center;
      }


      div:hover {
        background-color: rgb(199, 199, 217);
      }


      h3{
            text-align: center;
        
            border: 2px solid rgb(33, 136, 173);
        
            border-radius: 5px;
        
            margin-left: auto;
        
            margin-right: auto;
        
            width: 50%;
        
            text-align: center;
        
            background-color: rgba(56, 198, 165, 0.84);
        
            border-width: 2px;
        
        }

        h4{

            text-align: center;
        
            border: 2px solid rgb(52, 47, 2);
        
            border-radius: 5px;
        
            margin-left: auto;
        
            margin-right: auto;
        
            width: 50%;
        
            text-align: center;
        
            background-color: rgba(92, 127, 22, 0.84);
        
            border-width: 2px;
        
        }
        table, th, td {

            border: 1px solid rgba(92, 127, 22, 0.84);
        
            border-radius: 10px;
        
            padding-top: 10px;
        
          padding-bottom: 20px;
        
          padding-left: 30px;
        
          padding-right: 40px;
        
          border-spacing: 30px;
        
        
          }


